
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.cache
*.log

# Virtual environments
.env/
.venv/

# SQLite DB (opcional)
*.sqlite3
*.db

# Pytest
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code / IDEs
.vscode/
.idea/

# Docker
*.pid
*.sock
docker-compose.override.yml

# Data volumes
.data/

# Envs ou secrets
.env
.env.*

# System
.DS_Store
Thumbs.db

# Git
*.swp
